{# templates/admin/my_dashboard.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1>Welcome to the Admin Dashboard</h1>
    {{ render_chart(chart) }}
{% endblock %}